@use "../../../../Util/colors" as *;
@use "../../../../Util/breakpoints" as *;

.ManageComment{
    position: relative;
    width: 100%;
    background-color: var(--card-bg);
    transition: background-color .75s ease-in-out;
    padding: 1.25rem;

    &__image{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        
    }
    &__button{

        font-size: 1rem;
        text-transform: uppercase;
        color: $White;
        background-color: $Moderateblue;
        border: none;
        border-radius: 5px;

        transition: opacity .25s ease-in-out;
        &:hover{
            opacity: 0.75;
            cursor: pointer;
        }
    }
    &__input{
        padding-inline: .75rem;
        padding-block: 1rem;
        font-size: 1rem;
        color: $DarkBlue;
        border-radius: 5px;
        border-color: $LightGray;
        flex: 1;
        width: 100%;
        min-height: 4rem;
        resize: none;
        outline: none;


        &:focus{
            border-color: $LightGrayishBlue;
        }
        &:hover{
            cursor: pointer;
        }
    }
}

.Send , .Reply{
    display: flex;
    flex-direction: row;
    gap: .75rem;
}

.Edit{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: end;
}

// RESPONSIVE DESIGN:

// STRUCTURAL CHANGES
@include breakpoint(s){
    .Send  , .Reply{
        flex-direction: column;
        align-items: end;
    }
    .ManageComment__image{
        position: absolute;
        bottom: 1.25rem;
        left: 1.25rem;
        height: 35px;
        width: 35px;
    }
}

// TYPOGRAPHY CHANGES
.ManageComment__input::placeholder , .ManageComment__input{
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.6474358974rem + 0.5128205128vw, 1rem);
}

.Spinner {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }