@use "../../Util/colors" as *;
@use "../../Util/breakpoints" as *;

.ContactContainer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @include breakpoint(s){
        flex-direction: column;
    }
}
.ContactItems{
    margin-top: 1rem;
    display: grid;
    gap: 2rem;

    width: 50%;

    @include breakpoint(s){
        width: 100%;
    }
}

.ContactItem{
    background-color: var(--card-bg);
    transition: background-color .75s ease-in-out;
    width: 80%;

    padding: 1.5rem;
    border-radius: 5px;
    text-align: center;

    &__image{
        height: 80px;
        width: 80px;

        margin-top: .75rem;
    }
    &__title{
        color: var(--title-clr);

        transition: opacity .25s ease-in-out;
        &:hover{
            opacity: .7;
            cursor: pointer;
        }
    }
    &__desc{
        padding-inline: 1rem;

        margin-top: .7rem;
    }

    @include breakpoint(s){
        width: 100%;
    }
}

.ContactForm{
    margin-top: 1rem;

    border-radius: 5px;
    padding: 2rem;

    background-color: var(--card-bg);
    transition: background-color .75s ease-in-out;
    width: 50%;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    h2{
        text-align: center;
        color: var(--title-clr);
    }

    @include breakpoint(s){
        position: relative;
        top: 0;
        transform: translateY(0);
        width: 100%;
    }
    @include breakpoint(xs){
        padding: 1rem;
    }

}
.Form{
    margin-top: 3rem;
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "firstname lastname"
                         "subject email"
                         "desc desc"
                         "file file"
                         "errorLbl errorLbl"
                         "button button";
    grid-template-columns: repeat(2 , 1fr);
    input , textarea , select{
        padding: .25rem;
        border: 1px solid $LightGray;
        outline: none;

        &:focus{
            border-color: $LightGrayishBlue;
        }
    }
    &__firstname{
        grid-area: firstname;
    }
    &__lastname{
        grid-area: lastname;
    }
    &__email{
        grid-area: email;
    }
    &__subject{
        grid-area: subject;
    }
    &__desc{
        grid-area: desc;

        textarea{
            min-height: 6rem;
            resize: none;
        }
    }
    &__file{
        grid-area: file;
    }
    &__button{
        grid-area: button;
        justify-self: flex-start;
        align-self: flex-end;

        font-size: 1rem;
        text-transform: uppercase;
        color: $White;
        background-color: $Moderateblue;
        border: none;
        border-radius: 5px;

        transition: opacity .25s ease-in-out;
        &:hover{
            opacity: 0.75;
            cursor: pointer;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    @include breakpoint(xs){
        grid-template-areas: "firstname"
                              "lastname"
                              "subject"
                              "email"
                              "desc"
                              "file"
                              "errorLbl"
                              "button";
        grid-template-columns: 1fr;
    }
    @include breakpoint('2xs'){
        &__file{
            width: 200px;
        }
    }

}
.SuccessForm{
    margin-top: 1rem;

    border-radius: 5px;
    padding: 2rem;

    background-color: $White;
    width: 50%;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    text-align: center;

    &__title{
        color: hsl(237, 34%, 32%);
    }
    &__image{
        height: 100px;
        width: 100px;

        margin-top: .7rem;
    }
    &__desc{
        margin-top: .7rem;
    }

    @include breakpoint(s){
        position: relative;
        top: 0;
        transform: translateY(0);
        width: 100%;
    }
}
.errorLabelContact{
    grid-area: errorLbl;

    color: red;
    display: none;
}

.show{
    display: block;
}

